# Build artifacts
build/
build-*/
out/
Debug/
Release/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake

# Qt/IDE user files
*.user
*.pro.user
*.qbs.user
*.qmlproject.user
.vs/
.vscode/

# Ninja
*.ninja
.ninja_log
.ninja_deps

# Binaries and libs
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.a
*.o
*.obj

# Logs
*.log
